.InfoBox {
    text-align: center;
}

.cardContainer {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 18px black;
    background-color:  palegoldenrod;
    transition:  2s 500ms;
    padding-inline-end: 10px;
    padding-inline-start: 10px;


   

   
}

.card:hover {
    box-shadow: 0 8px 20px rgb(12, 5, 104);


}


